@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
body {
    background: #1E1E1E;
    background-image: url('http://localhost:3000/background.png');
    background-blend-mode: soft-light;
}